
.app{
  text-align: center;
}
.cont{
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Beer {
  background-color: rgba(255, 255, 255, 0.212);
  width: 30%;
  margin: 1.5%;
  float: left;
  display: block;
  text-align: center;
}

.image {
  height: 250px;
  width: auto;  
}